<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="app"
            name="name">
      </product>
   </extension>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.vogella.jpa.standalone.App">
         </run>
      </application>
   </extension>
   <extension
         id="vogella"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.vogella.jpa.standalone.app"
            name="com.vogella.jpa.product">
         <property
               name="appName"
               value="com.vogella.jpa.product">
         </property>
      </product>
   </extension>

</plugin>
