<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="com.vogella.jpa.target" sequenceNumber="6">
<locations>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.1.v20171221-bd47e8f"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="H2-Database-Engine.feature.group" version="1.4.193"/>
<repository location="https://dl.bintray.com/simon-scholz/H2-Database-Engine/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit"><unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.3.v20180301-1149"/><unit id="org.eclipse.sdk.ide" version="4.7.3.M20180301-0715"/><repository location="http://download.eclipse.org/eclipse/updates/4.7"/></location></locations>
</target>